h1{
    color: hotpink;
    text-align: centre;
}
h2{
    color: blue;
    font-style: oblique;
    text-align: center;
}
p{
    font-family: sans-serif;
}
ul{
    line-height: 40px;
}
ol{
    line-height: 50px;
}
.description {
    font-style: oblique;
   
}