h1{
    color: hotpink;
    text-align: centre;
}
h2{
    color: blue;
    font-style: oblique;
    text-align: center;
}
p{
    font-family: sans-serif;
}
ul{
    line-height: 40px;
}
ol{
    line-height: 50px;
}
.description {
    font-style: oblique;
   
}
.author{
    color: chartreuse;
}
.important{
    color: darkmagenta;
}
img{
    float: left;
}
.sidebar{
    width: auto;
    float: right;
    background-color: darkturquoise;

}
.column{
    width: 350px;
    float: left;
    border: 2px solid rebeccapurple;
    padding: 6px;
    margin: 20px;
    background-color: yellow;

}