h1{
    color: #66FCF1;
    text-align: centre;
}
h2{
    color: #66FCF1;
    font-style: oblique;
    text-align: center;
}
p{
    font-family: sans-serif;
}
ul{
    line-height: 40px;
    font-weight: bold;
}
ol{
    line-height: 50px;
    font-weight: bold;
}
.description {
    font-style: oblique;
   
}
.author{
    color: #66FCF1;
}
.important{
    color: #66FCF1;
}
.sidebar{
    width: auto;
    float: right;
    background-color: darkturquoise;

}
.column{
    width: 350px;
    float: left;
    border: 2px solid rebeccapurple;
    padding: 6px;
    margin: 20px;
    background-color: #1F2833;
    color: #C5C6C7;



}
img[src="images/nameonsand.jpg"] {
    object-fit: contain;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 50%;
    border: 5px solid #45A29E;
}
h1{
    text-align: center;
    color: #CEF0D4;
    font-family: 'Rouge Script'. cursive;
    font-size: 130px; 
    font-weight: normal;
    line-height: 48px;
    margin: 0 0 24px;
    text-shadow: 1px 1px 2px #082b34;

}body{
    background-color: #0b0c10;

}
.me_container{
    width: 53rem; 
    height: 37rem; 
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    clip-path: circle(24% at 49% 35%); 
    position: relative
}
.me_img {
    height: 100%;
    transform: translateX( 15rem);  
    backface-visibility: hidden; 
}
.me_caption {
    position: absolute; 
    top: 54%; 
    left: 44%; 
    transform: translate(-42%, -3%); 
    color: #66fcf1; 
    text-transform: none;
    font-style: italic;
    font-size: 1.7rem; 
    text-align: center;  
    backface-visibility: hidden; 
 }
 